@using testPostgresConnection.Domain.Entities;
@model IEnumerable<Account>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to test</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@foreach (var item in Model)
{
    <div>
    @item.accountId<br>
    @item.login<br>
    @item.password<br>
    @item.about<br>
    </div>
    <br>
}
